*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, body{
    height: 100%;
    width: 100%;   
}

#main{
    height: 100%;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cursor{
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 25px;
    position: absolute;
    /* transition: all linear 0.2; */
    mix-blend-mode: difference;
}

h1{
    font-size: 9vw;
    font-weight: 900;
}